$body-font-family: 'Open Sans', sans-serif
$font-size-root: 14px
$material-dark: ('background': #303540, 'app-bar': #303540, 'text-fields': ('outlined': '#fff','outlined-hover': rgba(255, 255, 255, 0.24)))
$btn-sizes: ('x-small': 30)
$btn-font-sizes: ('x-small': 10px)
$btn-text-transform: none
$toolbar-content-padding-y: 0
$toolbar-content-padding-x: 0
$avatar-border-radius: 5px
$input-font-size: 12px
$btn-font-weight: 600
